* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: aquamarine;

}

.center {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 700px;
  margin: 5rem 0;
}

.name {
  width: max-content;
  height: 75px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  border-radius: 50%;
}

.contact {
  margin-bottom: 50px;
}

.skills h2 {
  padding-bottom: 11px;
}

.skills p {
  padding-left: 5px;
}

.skills hr {
  border: 1.5px solid #fff;
  border-radius: 1px;
  background: #fff;
  margin: 3px 0 9px 0;
}

main {
  width: 60%;
  background-color: #fff;
  padding: 3rem 2rem;
}

main img {
  width: 75px;
  border-radius: 50%;
  float: left;
  margin-right: 11px;
}

h1 {
  margin-bottom: 6px;
  color: #253753;
}

small {
  font-size: .9rem;
  color: #253753;
}

main section {
  margin-top: 36px;
}

main section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #253753;
}

main section p { 
  text-align: justify;
  line-height: 18px;
  color: #494949;
}

main section ul {
  padding-left: 18px;
}

footer {
  background-color: #19304f;
  color: #fff;
  padding: 5rem 3rem;
  width: max-content;
}

footer section h2 {
  font-size: 20px;
  margin-bottom: 11px;
}

footer p {
  line-height: 15px;
}

@media (max-width: 700px){
  .container {
    margin: 5rem 2rem;
  }

  footer {
    padding: 5rem 1.5rem;
  }
}

@media (max-width: 640px) {

  .container {
    display: block;
  }

  header img {
    width: 100px;
    padding-bottom: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main,
  footer {
    width: 100%;
    padding: 2rem 1rem;
  }

}