* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}

.container {
  border-radius: 300px;
  margin: 5rem 2rem;
  display: flex;
  max-width: 800px;
  
}

.name {
  width: max-content;
  height: 75px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  border-radius: 50%;
}

.contact {
  margin-bottom: 50px;
}

.skills h2 {
  padding-bottom: 11px;
}

.skills p {
  padding-left: 5px;
}

.skills hr {
  border: 1.5px solid #fff;
  border-radius: 1px;
  background: #fff;
  margin: 3px 0 9px 0;
}

main {
  width: 700px;
  background-color: #fff;
  padding: 3rem 2rem;
}

main img {
  width: 75px;
  border-radius: 50%;
  float: left;
  margin-right: 11px;
}

h1 {
  margin-bottom: 6px;
  color: #253753;
}

small {
  font-size: .9rem;
  color: #253753;
}

main section {
  margin-top: 36px;
}

main section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #253753;
}

main section p { 
  text-align: justify;
  line-height: 18px;
  color: #494949;
}

footer {
  background-color: #19304f;
  color: #fff;
  padding: 5rem 3rem;
  width: 300px;
}

footer section h2 {
  font-size: 20px;
  margin-bottom: 11px;
}

footer p {
  line-height: 15px;
}
